#Contact{
    color: white;
    background-color: rgba(21,5,5,1);
}

#contactheader{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 15%;
}

#contactheader>h1{
    font-size: 4.5vw;
    margin: 0.5em;
}

#contactcontent{
    height: 85%;
    display: flex;
    flex-direction: column;
}

#socialbuttons{
    display: flex;
    justify-content: space-evenly;
    height: 40%;
    align-items: center;
    padding: 4em;
}

#socialbuttons>button{
    background-color: rgba(0,0,0,0);
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

#socialbuttons>button:hover{
    transform: translate(5px, 5px);
    transition-duration: 0.1s;
    cursor: pointer;
    box-shadow: -10px -10px 5px lightcoral;
    background-color: rgb(70, 0, 0);
}

#messageui{
    height: 60%;
}

#messageui>fieldset{
    height: 100%;
    border: 3px solid white;
    border-radius: 15px;
    margin: 4vw;
}

#messageui>fieldset>legend{
    font-family: gruppo;
    font-size: 3vw;
    text-align: right;
    margin-right: 1em;
    padding: 0vw 2vw;
}

#messageui>fieldset>form{
    padding: 5vw 5vw 0 5vw;
    display: flex;
    flex-direction: column;
}

#messageui>fieldset>form>div{
    padding: 2vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#messageui>fieldset>form>div>label{
    font-size: 1.7vw;
    margin: 0.5em;
}

#smalltextbox{
    display: flex;
    flex-wrap: wrap;
}

.smalltext{
    font-family: Arial;
    width:35%;
    border: none;
    color: black;
    height: 3.4vw;
    font-size: 2vw;
    border: none;
    border-radius: 10px;
    padding: 0.5vw 1vw;
}

#contactinput{
    width: 80%;
    height: 6.8vw;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    padding: 0.5vw 1vw;
}

#messageinput{
    width: 100%;
    height: 13.6vw;
    background-color: rgb(255,255,255);
    border: none;
    border-radius: 10px;
    font-size: 24px;
    padding: 0.5vw 1vw;
}

#sendbutton{
    padding: 1.4vw 2.4vw;
    font-size: 1.7vw;
    font-family: gugi;
    border: none;
    border-radius: 3px;
}

#sendbutton:hover{
    transform: translate3d(1vw, 0.5vw, 2);
    background-color: rgba(255,255,255,0.3);
    transition-duration: 0.1s;
    cursor: pointer;
    color: white;
    box-shadow: -1vw -0.5vw 0.5vw lightcoral;
    border: 0.4vw double white;
}