#mainheader {
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    border: none;
    justify-content: space-around;
    height: 100px;
    margin: none;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}

@font-face {
    font-family: "gruppo";
    src: url("../fonts/Gruppo-Regular.ttf");
    font-weight: lighter;
    font-style: normal;
}

#buttons {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

#darkmode {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(255,255,255,0.5);
}

#darkmodetoggle{
    width: 50%;
    height: 50%;
    background-color: rgba(0,0,0,0);
    border: none;
}

#darkmodetoggle:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.3s;
}

#buttons>button{
    width: 25%;
    font-size: 30px;
    font-family: gruppo;
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    font-weight: lighter;
}

#buttons>button:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.3);
    transition-duration: 0.3s;
    border-bottom: 2px solid rgba(255,255,255,0.5);
}